@charset "UTF-8";
@font-face {
  font-family: "Bosque";
  src: url("../css/fonts/BOSQUE.woff") format("opentype");
}
/******************************************** GENERAL STANDARD STYLES /********************************************/
* {
  transition: all 0.2s;
}

::-webkit-scrollbar {
  background: #615753;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #f9cbb8;
  border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: unset;
}

html, body {
  background-color: #473e3b;
  margin: 0;
  padding: 0;
  color: #F8DAD0;
  font-family: "Bosque";
  overflow-x: hidden;
  position: static;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

ul {
  list-style-position: inside;
  padding: 0;
}

li {
  list-style-type: none;
  padding-inline: 15px;
}

a {
  color: unset;
  text-decoration: unset;
}
a:hover {
  cursor: pointer;
}

body {
  position: relative;
}

#services, #contact, #aboutUs {
  scroll-margin-top: 185px;
}

/* ///// TOP LINES ////// */
/* ///// END LINES ////// */
section.flex {
  display: flex;
}
section.flex.center {
  justify-content: center;
}
section.flex.spaceEvenly {
  justify-content: space-evenly;
}
section.flex.spaceBetween {
  justify-content: space-between;
}
section.flex.column {
  flex-direction: column;
}

button {
  min-width: 150px;
  display: block;
  padding: 10px 95px 10px 15px;
  border-radius: 2.5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.09) 3px 4px;
  margin-left: auto;
  margin-right: auto;
}
button.DiamondArrow::after, button.DiamondArrowWhite::after {
  position: absolute;
  margin-top: 2px;
  margin-left: 10px;
  z-index: 0;
}
button.DiamondArrow::after {
  content: url("../img/general/buttons/diamondArrow.png");
}
button.DiamondArrowWhite::after {
  content: url("../img/general/buttons/diamondArrowWhite.png");
}
button.DiamondArrowWhite.contact::after {
  content: url("../img/general/buttons/diamondArrowWhite.png");
  margin-left: 43px;
}
button:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.redesSociais {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.redesSociais .instagram {
  content: url("../img/general/socialMedia/instawhite.png");
  max-width: 40px;
}
.redesSociais .whatsapp {
  content: url("../img/general/socialMedia/whatswhite.png");
  max-width: 40px;
}
.redesSociais .instagram:hover, .redesSociais .whatsapp:hover {
  transform: scale(1.1);
  cursor: pointer;
}

img.grafismo {
  position: absolute;
}
img.grafismo.CoralFino {
  width: 80px;
  height: 80px;
  z-index: 0;
  content: url("../img/general/grafismos/galhoAbertoSemFundo.png");
}
img.grafismo.CoralFino.frontPage {
  transform: rotate(-14deg);
  margin-top: 31%;
  margin-left: 8%;
}
@media screen and (min-width: 360px) {
  img.grafismo.CoralFino.frontPage {
    display: none;
  }
}
@media screen and (min-width: 468px) {
  img.grafismo.CoralFino.frontPage {
    display: block;
  }
}
@media screen and (width: 1920px) {
  img.grafismo.CoralFino.frontPage {
    margin-top: 21%;
    margin-left: 16%;
  }
}
img.grafismo.CoralFino.Inverso {
  content: url("../img/general/grafismos/galhoAbertoSemFundoInverso.png");
}
img.grafismo.CoralFino.esquerdo {
  left: 0;
}
img.grafismo.CoralFino.direito {
  right: 0;
}
img.grafismo.CoralFino.Preenchido.Verde {
  content: url("../img/general/grafismos/coralPequenoVerdePreenchido.png");
}
img.grafismo.CoralFino.Preenchido.Verde.Inverso {
  content: url("../img/general/grafismos/coralPequenoVerdePreenchidoInverso.png");
}
img.grafismo.CoralGrosso {
  width: 80px;
  height: 80px;
  z-index: 0;
  content: url("../img/general/grafismos/coralFechadoFundo.png");
}
img.grafismo.CoralGrosso.Inverso {
  content: url("../img/general/grafismos/CoralFechadoFundoInverso.png");
}
img.grafismo.CoralGrosso.esquerdo {
  left: 0;
}
img.grafismo.CoralGrosso.direito {
  right: 0;
}
img.grafismo.CoralGrosso.Verde {
  content: url("../img/general/grafismos/coralFechadoVerde.png");
}

div.secName {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
div.secName h2 {
  font-size: 64px;
  color: #f9cbb8;
  margin-bottom: 0;
}
div.secName .secSymbol {
  content: url("../img/general/grafismos/coralPequeno.png");
  width: 51px;
  height: 51px;
}
div.secName .secSymbol.escuro {
  content: url("../img/general/grafismos/coralPequenoPreto.png");
}
div.secName .secSymbol.verde {
  content: url("../img/general/grafismos/coralPequenoVerdeInverso.png");
}
div.secName .secSymbol.aboutUs {
  content: url("../img/general/aboutUs/grafismoContato.png");
  width: 71.5px;
  height: 37.5px;
}

/******************************************** END GENERAL STANDARD STYLES /********************************************/
/******************************************** HEADER /********************************************/
header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background: #093641;
  min-height: 180px;
  /******************************************** NAV /********************************************/
}
header .logo {
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
}
header .logo section > * {
  margin: 0px;
}
header .logo img {
  padding-top: 27px;
  content: url("../img/general/header/logo.png");
  max-width: 105px;
  margin-left: auto;
  margin-right: auto;
}
header .logo h2 {
  font-size: 40px;
}
header .logo h6 {
  margin-top: -5px;
  letter-spacing: 6px;
}
header nav {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: bold;
  background-color: #0e7989;
  border-bottom: 1px solid #F8DAD0;
}
header nav ul li {
  display: inline-block;
}
header nav ul li:hover {
  text-shadow: 0 0 10px #F8DAD0;
  transform: scale(1.1);
  transition: all 0.05s;
}
header.header-menor {
  min-height: 100px;
}
header.header-menor .logo section {
  transform: scale(0.7);
  height: 135px;
}
header.header-menor .logo img {
  max-width: 105px;
  padding-top: 0;
}
header.header-menor nav {
  margin-top: 0;
}

main {
  padding-top: 180px;
}
main section.front-page { /******************************************** FRONT - PAGE /********************************************/
  font-family: "Alegreya Sans", sans-serif;
  margin-top: 0;
  background-color: #ed6e64;
  background-image: url("../img/general/frontPage/Pattern.png");
  background-size: 100%;
  min-height: 636px;
}
@media screen and (min-width: 360px) {
  main section.front-page {
    min-height: 510px;
    max-height: 510px;
  }
}
@media screen and (min-width: 768px) {
  main section.front-page {
    min-height: 636px;
    max-height: unset;
  }
}
main section.front-page section {
  min-height: 636px;
  align-items: center;
}
main section.front-page .esquerdo,
main section.front-page .direito {
  min-width: 572px;
}
main section.front-page .direito {
  min-width: 630px;
}
main section.front-page .esquerdo h1, main section.front-page .esquerdo h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}
main section.front-page .esquerdo h2 {
  text-align: center;
  font-size: 36px;
  margin-left: -180px;
  font-weight: 1 500;
}
main section.front-page .esquerdo h1 {
  display: block;
  font-size: 85px;
  width: 368px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
  margin-top: -18px;
  line-height: 1em;
}
main section.front-page .esquerdo button {
  margin-top: 10px;
  margin-bottom: 65px;
}
@media screen and (min-width: 360px) {
  main section.front-page .esquerdo {
    transform: scale(0.8);
  }
}
@media screen and (min-width: 768px) {
  main section.front-page .esquerdo {
    transform: scale(1);
  }
}
main section.front-page .direito .bannerImage {
  content: url("../img/general/frontPage/studio.jpg");
  max-width: 633px;
  border-radius: 19px;
  margin-right: 34px;
}
@media screen and (min-width: 360px) {
  main section.front-page .direito {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  main section.front-page .direito {
    display: block;
  }
}
main section.services { /******************************************** SERVIÇOS /********************************************/
  box-sizing: border-box;
}
main section.services .quadrado {
  width: 350px;
  height: 465px;
  border-radius: 7.64px;
  background-color: #E9664A;
  box-shadow: rgba(0, 0, 0, 0.09) 3px 4px;
  z-index: 1;
}
main section.services .quadrado img {
  width: 350px;
  height: 225px;
  border-top-left-radius: 7.64px;
  border-top-right-radius: 7.64px;
}
main section.services .quadrado img.projetoImg {
  content: url("../img/general/services/projeto/projeto.jpg");
}
main section.services .quadrado img.consultoriaImg {
  content: url("../img/general/services/consultoria/consultoria.jpg");
}
main section.services .quadrado img.assessoriaImg {
  content: url("../img/general/services/assessoria/assessoriaProportional.png");
}
main section.services .quadrado img.laudoAcusticoImg {
  content: url("../img/general/services/laudo/laudo.jpg");
}
main section.services .quadrado h3, main section.services .quadrado h4, main section.services .quadrado button {
  color: #F8DAD0;
}
main section.services .quadrado h3 {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  margin-top: 7px;
  margin-bottom: 22px;
}
main section.services .quadrado h4 {
  margin-top: 0;
  text-align: justify;
  font-family: "Alegreya Sans", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}
main section.services .quadrado button {
  background-color: #302826;
  font-family: "Alegreya Sans", sans-serif;
  color: #f9cbb8;
}
@media screen and (min-width: 360px) {
  main section.services .quadrado {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  main section.services .quadrado {
    margin: unset;
  }
}
@media screen and (min-width: 360px) {
  main section.services .grupo1, main section.services .grupo2 {
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  main section.services .grupo1, main section.services .grupo2 {
    flex-direction: row;
    gap: unset;
  }
}
main section.services .grupo1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
main section.services .laudoAcustico button {
  margin-top: -8px;
}
main section.services .CoralFino > * {
  z-index: 0;
}
main section.services .CoralFino.esquerdo {
  left: -56px;
  width: 170px;
  height: 170px;
  margin-top: 295px;
  transform: rotate(14deg);
}
main section.services .CoralFino.direito {
  width: 170px;
  height: 170px;
  margin-top: 1015px;
  right: -50px;
}
main section.services .CoralGrosso > * {
  z-index: 0;
}
main section.services .CoralGrosso.esquerdo {
  width: 240px;
  height: 240px;
  margin-top: 803px;
}
main section.services .CoralGrosso.direito {
  width: 190px;
  height: 190px;
  margin-top: 505px;
}
@media screen and (min-width: 360px) {
  main section.services {
    margin-top: 35px;
  }
}
main section.contact { /******************************************** CONTATO /********************************************/
  background-color: rgba(249, 203, 184, 0.68);
  margin-top: 53.12px;
  padding-bottom: 95px;
  font-family: "BOSQUE";
}
main section.contact .CoralGrosso {
  margin-top: 495px;
  width: 190px;
  height: 190px;
}
@media screen and (min-width: 360px) {
  main section.contact .CoralGrosso {
    opacity: 0.2;
  }
}
@media screen and (min-width: 468px) {
  main section.contact .CoralGrosso {
    opacity: 1;
  }
}
main section.contact .CoralFino {
  margin-top: 325px;
  left: -18px;
  transform: rotate(10deg);
}
@media screen and (min-width: 360px) {
  main section.contact .CoralFino {
    opacity: 0.2;
  }
}
@media screen and (min-width: 468px) {
  main section.contact .CoralFino {
    opacity: 1;
  }
}
main section.contact .flex img.contactImg {
  content: url("../img/general/contact/coffe.png");
  max-width: 410px;
  max-height: 415px;
  border-radius: 20px;
  margin-top: 58px;
}
main section.contact .flex .grupo1 .redesSociais {
  margin-top: 36px;
}
@media screen and (min-width: 360px) {
  main section.contact .flex .grupo1 {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  main section.contact .flex .grupo1 {
    display: block;
  }
}
main section.contact .flex .grupo2 {
  width: 435px;
}
@media screen and (min-width: 360px) {
  main section.contact .flex .grupo2 {
    width: unset;
  }
}
@media screen and (min-width: 768px) {
  main section.contact .flex .grupo2 {
    width: 435px;
  }
}
@media screen and (width: 1920px) {
  main section.contact .flex .grupo2 {
    width: 620px;
  }
}
main section.contact .flex .grupo2 .entreEmContato {
  font-weight: 600;
  text-align: center;
  margin-top: -12px;
  margin-bottom: 38px;
}
main section.contact .flex .grupo2 button {
  width: 250px;
  background-color: #164850;
  color: #F8DAD0;
}
@media screen and (min-width: 360px) {
  main section.contact .flex {
    margin: 50px auto;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  main section.contact .flex {
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 180px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1920px) {
  main section.contact .flex {
    margin-left: 260px;
    margin-right: 290px;
  }
}
main section.contact h2, main section.contact h3, main section.contact p, main section.contact label, main section.contact textarea {
  color: #164850;
}
main section.contact label {
  font-size: 23px;
}
main section.contact form * {
  display: block;
  width: 100%;
}
main section.contact form input, main section.contact form textarea {
  border: 1px solid white;
  border-radius: 3px;
  background: none;
  box-shadow: rgba(0, 0, 0, 0.09) 3px 4px;
}
main section.contact form input:focus, main section.contact form textarea:focus {
  color: #F8DAD0;
  outline: none;
  text-indent: 4px;
}
main section.contact form input {
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px;
}
main section.contact form textarea {
  margin-bottom: 45px;
}
main section.contact form #nome {
  margin-bottom: 15px;
}
main section.aboutUs {
  position: relative;
  background-color: #09323E;
  background-image: url("../img/general/aboutUs//anthosLogomarca.png");
  background-size: 60%;
  background-position: center;
  background-repeat: repeat-y;
}
main section.aboutUs::before {
  content: "";
  width: 100%;
  height: 1710px;
  background-image: url("../img/general/aboutUs/pattern.png");
  position: absolute;
  background-size: 70%;
  pointer-events: none;
}
main section.aboutUs a {
  color: #E9664A;
}
main section.aboutUs section.informacoesGerais {
  padding-bottom: 45px;
}
main section.aboutUs div.info .frankiNome {
  font-weight: 500;
  font-size: 28px;
  margin: 25px auto 0 15px;
}
main section.aboutUs div.info .funcao, main section.aboutUs div.info .cargo, main section.aboutUs div.info .cau, main section.aboutUs div.info .cauNUM, main section.aboutUs div.info .cnpj, main section.aboutUs div.info .cnpjNUM {
  margin: 0px auto 0 15px;
}
main section.aboutUs div.info .cau, main section.aboutUs div.info .cnpj {
  margin-top: 7px;
  font-weight: 500;
}
main section.aboutUs div.info .descricao1 {
  padding-left: 360px;
  padding-right: 360px;
  text-align: justify;
  font-style: italic;
}
@media screen and (min-width: 360px) {
  main section.aboutUs div.info .descricao1 {
    padding-left: unset;
    padding-right: unset;
  }
}
@media screen and (min-width: 768px) {
  main section.aboutUs div.info .descricao1 {
    padding-left: 360px;
    padding-right: 360px;
  }
}
@media screen and (min-width: 360px) {
  main section.aboutUs div.info .flex.center div:first-child {
    margin: 15px auto;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  main section.aboutUs div.info .flex.center div:first-child {
    margin: unset;
  }
}
@media screen and (min-width: 360px) {
  main section.aboutUs div.info .flex.center {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  main section.aboutUs div.info .flex.center {
    flex-direction: row;
  }
}
@media screen and (min-width: 360px) {
  main section.aboutUs div.info {
    width: 310px;
  }
}
@media screen and (min-width: 768px) {
  main section.aboutUs div.info {
    width: unset;
  }
}
main section.aboutUs section.aboutUsParte2 > .flex.center, main section.aboutUs section.aboutUsParte3 {
  flex-direction: column;
  text-align: center;
  width: 500px;
  align-self: flex-start;
}
@media screen and (min-width: 360px) {
  main section.aboutUs section.aboutUsParte2 > .flex.center, main section.aboutUs section.aboutUsParte3 {
    margin: 0 auto;
    width: 310px;
  }
}
@media screen and (min-width: 768px) {
  main section.aboutUs section.aboutUsParte2 > .flex.center, main section.aboutUs section.aboutUsParte3 {
    width: 500px;
    margin: unset;
  }
}
main section.aboutUs section.aboutUsParte2 {
  margin-top: 15px;
}
main section.aboutUs section.aboutUsParte2 .descricao2 {
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
  font-style: italic;
}
main section.aboutUs section.aboutUsParte2 .descricao3 {
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
  font-style: italic;
}
main section.aboutUs section.aboutUsParte2 .stimexImg {
  margin: 0 auto;
}
@media screen and (min-width: 360px) {
  main section.aboutUs section.aboutUsParte2 .stimexImg {
    max-width: 348px;
    max-height: 317px;
  }
}
@media screen and (min-width: 768px) {
  main section.aboutUs section.aboutUsParte2 .stimexImg {
    width: 500px;
    max-width: 398px;
    max-height: 367px;
  }
}
main section.aboutUs section.aboutUsParte2 .projAcusticoImg {
  margin: 0 auto;
}
@media screen and (min-width: 360px) {
  main section.aboutUs section.aboutUsParte2 .projAcusticoImg {
    max-width: 348px;
    max-height: 238px;
  }
}
@media screen and (min-width: 768px) {
  main section.aboutUs section.aboutUsParte2 .projAcusticoImg {
    width: 500px;
    max-width: 508px;
    max-height: 388px;
  }
}
@media screen and (min-width: 360px) {
  main section.aboutUs section.aboutUsParte2 {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  main section.aboutUs section.aboutUsParte2 {
    flex-direction: row;
  }
}
main section.aboutUs section.aboutUsParte3 {
  margin: auto;
}

footer {
  height: 135px;
  position: relative;
  overflow: hidden;
  font-family: "Alegreya Sans", sans-serif;
}
footer .flex {
  height: 100%;
  width: 500px;
  align-items: center;
  align-self: center;
  margin: auto;
}
footer .flex .logo {
  text-align: center;
  font-family: "BOSQUE";
}
footer .flex .logo h2, footer .flex .logo h6 {
  margin: 0;
}
@media screen and (min-width: 360px) {
  footer .flex .logo {
    padding-top: 15px;
    max-width: 90px;
  }
}
@media screen and (min-width: 768px) {
  footer .flex .logo {
    max-width: 100%;
  }
}
footer .flex .redesSociais {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  text-align: center;
  gap: 3px;
}
footer .flex .redesSociais section.flex.center {
  gap: 15px;
  margin-bottom: 13px;
}
footer .flex .redesSociais h4 {
  margin: 0;
}
footer .flex .redesSociais .instagram, footer .flex .redesSociais .whatsapp {
  width: 36px;
}
@media screen and (min-width: 360px) {
  footer .flex .redesSociais {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  footer .flex .redesSociais {
    display: flex;
  }
}
footer .flex .redesSociais, footer .flex ul > li {
  font-weight: 600;
}
footer .flex ul {
  line-height: 25px;
}
@media screen and (min-width: 360px) {
  footer .flex ul {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  footer .flex ul {
    display: block;
  }
}
@media screen and (min-width: 360px) {
  footer .flex.flex.center {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  footer .flex.flex.center {
    flex-direction: row;
  }
}
@media screen and (min-width: 360px) {
  footer .flex.flex {
    width: unset;
  }
}
@media screen and (min-width: 768px) {
  footer .flex.flex {
    width: 500px;
  }
}
@media screen and (min-width: 360px) {
  footer {
    min-height: 170px;
    height: unset;
  }
}
@media screen and (min-width: 768px) {
  footer {
    min-height: unset;
    height: 135px;
  }
}

/** ANIMATED LETTERS **/
.ml7, .ml8 {
  position: relative;
  font-weight: 900;
  font-size: 3.7em;
}

.ml7 .text-wrapper, .ml8 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

/****************** internos serviços****************/
/****** GENERAL STYLES **********/
div.espacoPadrao {
  margin: 0;
  margin-top: 254px;
}

section.servicesInside {
  min-height: 475px;
  padding-top: 65px;
}
section.servicesInside p {
  letter-spacing: 2px;
}
section.servicesInside section.flex.center {
  gap: 20px;
}
section.servicesInside article.flex, section.servicesInside div.flex {
  display: flex;
}
section.servicesInside article.flex.center, section.servicesInside div.flex.center {
  justify-content: center;
}
section.servicesInside article.flex.spaceBetween, section.servicesInside div.flex.spaceBetween {
  justify-content: space-between;
}
section.servicesInside article.flex.spaceEvenly, section.servicesInside div.flex.spaceEvenly {
  justify-content: space-evenly;
}
section.servicesInside .esquerdo, section.servicesInside .direito {
  width: 500px;
}
section.servicesInside .esquerdo #fotoServico1,
section.servicesInside .esquerdo #fotoServico2,
section.servicesInside .esquerdo #fotoServico3,
section.servicesInside .esquerdo #fotoServico4 {
  display: block;
  background-color: green;
  width: 150px;
  height: 85px;
}
section.servicesInside .esquerdo #fotoServico2,
section.servicesInside .esquerdo #fotoServico3,
section.servicesInside .esquerdo #fotoServico4 {
  display: inline-block;
}
section.servicesInside .esquerdo #fotoServico1 {
  width: 500px;
  margin-bottom: 25px;
  height: 300px;
}
section.servicesInside .direito button {
  color: #F8DAD0;
  margin: 0;
  min-width: 205px;
  background-color: #164850;
}
section.servicesInside .direito form input, section.servicesInside .direito button {
  display: inline;
}
section.servicesInside .direito form input {
  border: 1px solid white;
  border-radius: 3px;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.09) 3px 4px;
}
section.servicesInside .direito form input:focus {
  color: #F8DAD0;
  outline: none;
  text-indent: 4px;
}
section.servicesInside .direito h2 {
  margin-top: 0;
  font-size: 46px;
}
section.servicesInside .direito .quadradoServicosInside {
  margin-bottom: 90px;
}

/********************* PROJETO **********************/